<?xml version='1.0' encoding='utf-8'?>
<widget id="github.everskyblue.componentstabris" version="0.1.0">
  <name>Components Tabris</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="nikejoelmadrid@gmail.com">
    Nike
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
